body{
    text-align: center;
    background-color: #f7f5f5;
    margin:0;
    padding: 0;
}
body{
    max-width: 850px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h1{ max-width: 500px;
    margin-left: 150px;
    text-align: center;
}
#button1{
    background-color: rgb(28,217,135);
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow:  0 4px 8px rgb(0,0,0,0.1);
}
#details{
    margin: 40px;
    width: 290px;
    height: 200px;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.1);
}

input{
    margin: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 80%;
    
    border-radius: 10px;
}
  #parent{
    display:flex;
    justify-content: center;
    align-content: center;
    }

  
  